<%= form_with(model: membership, class: "contents") do |form| %>
  <% if membership.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :fire_department_id %>
    <% if rodauth.rails_account.is_super_admin %>
      <%= form.collection_select :fire_department_id, FireDepartment.all, :id, :name, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
    <% else %>
      <% admin_departments = FireDepartment.joins(:memberships).where(memberships: { account_id: rodauth.rails_account.id, role: 1 }) %>
      <%= form.collection_select :fire_department_id, admin_departments, :id, :name, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :account_id %>
    <%= form.collection_select :account_id, Account.all, :id, :full_info, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :role %>
    <%= form.select :role, Membership.roles.keys.map { |role| [role.humanize, role] }, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.select :status, Membership.statuses.keys.map { |status| [status.humanize, status] }, {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>