<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl">Awards</h1>
    <% if can? :create, Award %>
    <%= link_to "New award", new_award_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>

  <%= search_form_for @q do |f| %>
    <%= f.label :award_type_eq, 'Filter by Award Type' %>
    <%= f.select :award_type_eq, Award.award_types.map { |key, _| [key.humanize, Award.award_types[key]] }, include_blank: true %>

    <%= f.submit 'Search', class: 'rounded-lg py-2 px-5 bg-blue-600 text-white cursor-pointer' %>
  <% end %>

  <div id="awards" class="min-w-full">
    <%= render @awards %>
  </div>
</div>