<div class="nested-form-wrapper m-2" data-new-record="<%= f.object.new_record? %>">
  <div class="my-5">
    <%= f.hidden_field :_destroy %>
  </div>

  <div class="my-5">
    <%= f.input :award_id, collection: Award.all, label_method: :get_info, value_method: :id, label: 'Award' %>
  </div>

  <div class="my-5">
    <%= f.label :scheduled_at, 'Schedule award at' %>
    <%= f.datetime_field :scheduled_at %>
  </div>

  <button type="button" class="rounded-lg py-2 px-2 bg-red-600 text-white inline-block font-small cursor-pointer" data-action="nested-form#remove">Remove Award</button>
</div>