<%= simple_form_for(account, html: { data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } }) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <div class="my-5">
  <%= f.input :full_name %>
  </div>

  <div class="my-5">
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date %>
  </div>

  <div class="my-5">
  <%= f.input :permament_address %>
  </div>

  <div class="my-5">
  <%= f.input :phone %>
  </div>

  <div class="my-5">
  <%= f.input :member_code %>
  </div>

  <% if rodauth.rails_account.is_super_admin %>
    <%= f.input :is_super_admin %>
  <% end %>

  <div class="my-5">
    <div><span class="font-bold">Age: </span><%= account.age %></div>
    <div><span class="font-bold">Duration in SDH in years: </span><%= account.membership_duration_years %></div>
  </div>

  <% if @account.eligible_awards.any? %>
    <div class="my-5">
      <h2 class="font-bold">Eligible Awards:</h2>
      <ul>
        <% @account.eligible_awards.each do |award| %>
          <li><%= award.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-nested-form-target="target" class="nested-form-wrapper">
    <%= f.simple_fields_for :account_awards do |award_form| %>
      <%= render 'account_award_fields', f: award_form %>
    <% end %>

    <template data-nested-form-target="template">
      <%= f.simple_fields_for :account_awards, AccountAward.new, child_index: 'NEW_RECORD' do |award_form| %>
        <%= render 'account_award_fields', f: award_form %>
      <% end %>
    </template>

    <button type="button" class="rounded-lg py-2 px-2 bg-purple-600 text-white inline-block font-small cursor-pointer mt-2 mb-2" data-action="nested-form#add">Add Award</button>
  </div>

  <div class="my-5">
  <%= f.button :submit, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
